.floater__backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.floater--show.floater__backdrop {
    visibility: visible;
    opacity: 1;
}
.floater--show .floater__container {
    transform: scale(1);
}
.floater__container {
    position: relative;
    width: min(600px, 90%);
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.3s;
}
.floater__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    background: #ebebeb;
    cursor: pointer;
}
.floater__content {
    max-height: 70vh;
    overflow: auto;
}

.floater--no-scroll {
    overflow: hidden;
}
.floater__footer {
    display: flex;
    padding-top: 20px;
    justify-content: end;
}
